<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>weather. - about</title>
    <link rel="icon" href="../../public/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Site created by <a href="https://github.com/AEllisNOLA">Anthony Ellis</a> using data from <a href="https://www.mapbox.com/">MapBox</a> and <a href="https://darksky.net">Dark Sky</a>.</p>
        <img class="portrait" src="./img/Haiga Sophia - Istanbul.jpg" />
    </div>
    {{>footer}}
</body>

</html>